@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	box-sizing: border-box;
}

html {
	/*background-color: #fcffa8;*/
	background-color: white;
	background-image: url("images/drawingedit2.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: 0% 80%;
  	background-size: 110%;
	 }

body { 
	font-family: 'Work Sans', sans-serif;
	color: black;
	}

li {
	list-style: none;
	font-size: 150%;
	position: relative;
	padding: 10px;
	margin-top: 30px;
	border: 2px solid black;
	display: inline-block;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
table {
	border-collapse: collapse;
	font-size: 120%;
	padding: 10px;
	margin: 40px;
}

td {
  	border: 2px solid black;
  	padding: 10px;
  	background-color: white;
}

th {
	background: white;
	color: black;
	padding: 10px;
	border: 2px solid black;
}

.homeimg {
	margin-left: 40px;
	width: 500px;
}
.link {
	color: black;
	text-decoration: none;
}

.title {
	background-color: black;
	color: white;
	display: inline-block;
}
.info {
	position: relative;
	font-size: 120%;
	padding: 10px;
	border: 2px solid black;
	margin: 40px;
	background-color: white;
}
.home {
	color: white;
}

