@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	box-sizing: border-box;
}

html {
	/*background-color: #fcffa8;*/
	background-color: white;
	background-image: url("images/drawingedit.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: 50% 60%;
  	background-size: 150%;
	 }

body { 
	font-family: 'Work Sans', sans-serif;
	color: black;
	}

li {
	list-style: none;
	font-size: 175%;
	position: relative;
	padding: 10px;
	margin: 30px;
	/*border: 2px solid black;*/
	display: inline-block;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
table {
	border-collapse: collapse;
	font-size: 120%;
}

table {
	padding: 5px;
	margin: 20px;
}

td {
  	/*border: 1px solid black;*/
  	padding: 5px;
  	background-color: white;
}

th {
	background: black;
	color: white!important;
	padding: 5px;
	border: 1px solid black;
}
.link {
	color: white!important;
}

.title {
	background-color: black;
	color: white;
	display: inline-block;
}
.info {
	position: relative;
	padding: 15px;
	/*border: 2px solid black;*/
	margin: 20px;
	background-color: white;
}
.home {
	color: white;
}

